/*-- 
DON'T EDIT login.css DIRECTLY.
YOU SHOULD EDIT components/*.scss AND login.scss.
--*/

@charset "UTF-8";
@import "components/color";
@import "components/mixin";
@import "components/variables";
@import "components/footer";
@import "components/style";

html {
  height: 100%;
}

body {
  background: linear-gradient(#fda085, #f6d365);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .top-image {
    margin-top: 3vh;
    margin-bottom: 2vh;
    img {
      width: 80%;
      @include sp {
        width: 60%;
      }
      object-fit: contain;
    }
  }
  .card {
     border-radius: 5px;
    .card-content {
      .container {
        @include pc {
          width: 80%;
        }
        button {
          border-radius: 5px;
        }
      }
    }
  }
}

.field-icon {
  padding: 0;
  margin-top: 24px;
}